<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationTest" parallel="classes"> 
<listeners>
<listener class-name="ListinerAE.extentReport"></listener>
</listeners>

<parameter name="Browser" value="chrome"></parameter>
<parameter name="os" value="window10"></parameter>
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="smokeTest"></include>
  </run>
  </groups>
    <classes>
      <class name="tests.openurl"/>
      <class name="tests.signup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
